<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{ontology.title}}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
    // All config options at https://respec.org/docs/
    var respecConfig = {
      publishDate: "{{ ontology.publishDate }}",
      specStatus: "ED",
      shortName: "ReSpecter",
      github: "{{ ontology.url }}",
      authors: [
        {% for author in ontology.creators %}
    { name: "{{ author }}" },
    {% endfor %}
      ],
    editors: [{% for editor in ontology.contributors %}
    { name: "{{ editor }}" },
    {% endfor %}
    ],
    };
  </script>
</head>

<body>
  <section id="abstract">
    <p>{{ ontology.abstract }}</p>
  </section>

  <section class="informative">
    <h2>Introduction</h2>
    <p>{{ ontology.introduction }}</p>
    <aside class="note" title="ReSpecter status">
      <p>"This ontology and the tool ReSpecter is still in active development. See <a
          href='https://github.com/sdsc-ordes/respecter/'>ReSpecter</a> for more details on the tool."</p>
    </aside>
    <section>
      <h3>Download File</h3>
      <button onclick="downloadFile()">Download File</button>
      <script>
      function downloadFile() {
          const link = document.createElement('a');
          link.href = '{{ontology.download_url}}';
          link.download = 'ontology.ttl';
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
      }
      </script>
    </section> 
  </section>

  <section>
    <h2>Classes</h2>

    {% for concept in concepts %}
    <h3 id="{{ concept.FragmentIdentifier }}">{{ concept.Label }}</h3>
    <table class="def">
      {% for key, value in concept.items() %}
      <tr>
        <td>
          <p>{{ key }}</p>
        </td>
        <td>
          <p>{{ value }}</p>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </section>

  <section>
    <h2>Properties</h2>

    {% for property in properties %}
    <h3 id="{{ property.FragmentIdentifier }}">{{ property.Label }}</h3>
    <table class="def">
      {% for key, value in property.items() %}
      <tr>
        <td>
          <p>{{ key }}</p>
        </td>
        <td>
          <p>{{ value }}</p>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </section>


  <section>
    <h2>Enumeration Values</h2>

    {# iterate over the enum_dict to display the groups and their items #}
    {% for group in grouped_enumerations.values() %}
    <h3 id="{{ group.FragmentIdentifier }}">{{ group.label }}</h3>
    <table class="def">
      <tr>
        <td>Term</td>
        <td>{{ group.term }}</td>
      </tr>
    </table>
    {% for item in group.enumerations %}
    <h4 id="{{ item.FragmentIdentifier }}">{{ item.Label }}</h4>
    <table class="def">
      {% for key, value in item.items() %}
      <tr>
        <td>
          <p>{{ key }}</p>
        </td>
        <td>
          <p>{{ value }}</p>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
    {% endfor %}
  </section>
</body>


</html>