<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{ontology.title}}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
    // All config options at https://respec.org/docs/
    var respecConfig = {
      publishDate: "{{ ontology.publishDate }}",
      specStatus: "ED",
      shortName: "ReSpecter",
      github: "https://gitlab.com/data-custodian/custodian-ontology/-/blob/main/contract_shape_ontology.ttl?ref_type=heads",
      authors: [
        {% for author in ontology.creators %}
    { name: "{{ author }}" },
    {% endfor %}
      ],
    editors: [{% for editor in ontology.contributors %}
    { name: "{{ editor }}" },
    {% endfor %}
    ],
    };
  </script>
</head>

<body>
  <section id="abstract">
    <p>{{ ontology.abstract }}</p>
  </section>
  <section class="informative">
    <h2>Introduction</h2>
    <p>{{ ontology.introduction }}</p>
    <aside class="note" title="ReSpecter status">
      <p>"This ontology and the tool ReSpecter is still in active development. See <a
          href='https://github.com/sdsc-ordes/respecter/'>ReSpecter</a> for more details on the tool."</p>
    </aside>
  </section>
  <section>
    <h2>Classes</h2>

    {% for concept in concepts %}
    <h3>{{ concept.Label }}</h3>
    <table class="def">
      {% for key, value in concept.items() %}
      <tr>
        <td>
          <p>{{ key }}</p>
        </td>
        <td>
          <p>{{ value }}</p>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </section>

  <section>
    <h2>Properties</h2>

    {% for property in properties %}
    <h3>{{ property.Label }}</h3>
    <table class="def">
      {% for key, value in property.items() %}
      <tr>
        <td>
          <p>{{ key }}</p>
        </td>
        <td>
          <p>{{ value }}</p>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </section>
</body>

</html>