<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{ontology.title}}</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c" class="remove" defer></script>
  <script class="remove">
    // All config options at https://respec.org/docs/
    var respecConfig = {
      publishDate: "{{ ontology.publishDate }}",
      specStatus: "ED",
      shortName: "ReSpecter",
      github: "https://gitlab.com/data-custodian/custodian-ontology/-/blob/main/contract_shape_ontology.ttl?ref_type=heads",
      authors: [
        {% for author in ontology.creators %}
    { name: "{{ author }}" },
    {% endfor %}
      ],
    editors: [{% for editor in ontology.contributors %}
    { name: "{{ editor }}" },
    {% endfor %}
    ],
    };
  </script>
</head>

<body>
  <section id="abstract">
    <p>{{ ontology.abstract }}</p>
  </section>
  <section class="informative">
    <h2>Introduction</h2>
    <p>{{ ontology.introduction }}</p>
    <aside class="note" title="ReSpecter status">
      <p>"This ontology and the tool ReSpecter is still in active development. See <a
          href='https://github.com/sdsc-ordes/respecter/'>ReSpecter</a> for more details on the tool."</p>
    </aside>
  </section>
  <section>
    <h2>Classes</h2>

    {% for concept in concepts %}
    <h3>{{ concept.Label }}</h3>
    <table class="def">
      {% for key, value in concept.items() %}
      <tr>
        <td>
          <p>{{ key }}</p>
        </td>
        <td>
          <p>{{ value }}</p>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </section>

  <section>
    <h2>Properties</h2>

    {% for property in properties %}
    <h3>{{ property.Label }}</h3>
    <table class="def">
      {% for key, value in property.items() %}
      <tr>
        <td>
          <p>{{ key }}</p>
        </td>
        <td>
          <p>{{ value }}</p>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </section>

  <body>
    <section>
      <h2>Enumeration Values</h2>

      {# initialize the dictionary #}
      {% set enum_dict = {} %}

      {% for enum in enumerations %}
      {# check if the group already exists in the dictionary #}
      {% for group in enum.Groups %}
      {% if group.Label in enum_dict %}
      {# append the enum item to the existing group #}
      {% set _ = enum_dict[group.Label].append({enum.Label: enum.items()}) %}
      {% else %}
      {# create a new group in the dictionary #}
      {% set _ = enum_dict.update({group.Label: [{enum.Label: enum.items()}]}) %}
      {% endif %}
      {% endfor %}
      {% endfor %}

      {# iterate over the enum_dict to display the groups and their items #}
      {% for group, items in enum_dict.items() %}
      <h3>{{ group }}</h3>
      {% for item in items %}
      <h4>{{ item.keys() | join(", ") }}</h4>
      <table class="def">
        {% for label, values in item.items() %}
        {% for key, value in values %}
        <tr>
          {% if key == "Groups" %}
          <td>
            <p>{{ key }}</p>
          </td>
          <td>
            <p>{% for group in value %}
              {{ group.Term }}
              {% endfor %}
            </p>
          </td>
          {% else %}
          <td>
            <p>{{ key }}</p>
          </td>
          <td>
            <p>{{ value }}</p>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
        {% endfor %}
      </table>
      {% endfor %}
      {% endfor %}
    </section>
  </body>


</html>